<section class="content">
    <div class="row">

        <p>
            Summary of development: <div></div>

        The sports shop system is a NodeJS application, distributed via NPM which also have both: NPM and Bower dependencies. The application is built on top of:
        <div></div>
        <li>
            ExpressJS 4
        </li>
        <li>
            Mongoose
        </li>
        <li>
            BackboneJS
        </li>
        <li>
            Backbone-Forms in combination with Backbone-Deep-Model
        </li>
        <li>
        Bootstrap3
        </li>
        <li>
           MongoDB was used as the DB. MongoDB is a NoSQL DB, providing a wide range of benefits
        </li>

        <div></div>

        <div></div>

        +Things that need completing - Returns, Reports forms

        <div></div>
        +Things that need fixing - price and stock manipulation




        </p>
    </div>
</section>
